@font-face {
    font-family: 'Font1';
    src: url(../fonts/font1.woff2);
}

@font-face {
    font-family: 'Font2';
    src: url(../fonts/font2.woff2);
}

@font-face {
    font-family: 'Font3';
    src: url(../fonts/font3.woff2);
}

@font-face {
    font-family: 'Font4';
    src: url(../fonts/font4.woff2);
}